* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial;
    padding:15px:
    px;
    background: #ee2e24;
    color: #192f55;
  }
  #header-img
  {
    height:100%;
    width: 100%;
  }
  #myDiv img
  {
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    display: block;
  }
  
  .header h1 {
    font-size: 50px;
    color: #192f55;
  }
  
  /* Change color on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Create two unequal columns that floats next to each other */
  /* Left column */
  .leftcolumn {   
    float: left;
    width: 75%;
    padding-left: 7.2rem;
  }
  
  /* Right column */
  .rightcolumn {
    float: left;
    width: 25%;
    background-color: #ee2e24;
    padding-left: 25px;
  }
  
  /* Fake image */
  .fakeimg {
    width: 10%;
    padding: 1px;;
    align-items: center;
  }
  
  /* Add a card effect for articles */
  .card {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: '';
    display: table;
    clear: both;
  }
  
  /* Footer */
  .container {
    max-width: 1170px;
    background-color:#192f55;
    margin:auto;
  }
  .row{
    display: flex;
    flex-wrap: wrap;
  }
  ul {
  list-style: none;
  }
  .footer {
    background-color:red;
    padding:20px;
    margin-top: 20px;
  
  
   /* padding: 20px;
    text-align: center;
    background: #ddd;
    margin-top: 20px;*/
  }
  
  .footer-col{
    width: 25%;
    padding: 0 15px;
  }
  
  .footer-col h4{
    font-size: 18px;
    color: #ffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 100x;
    position: relative;
    text-align:40px;
  }
  .footer-col h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    background: red;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
  }
  .footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
  }
  .footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: #ffff;
    text-decoration: none;
    font-weight: 300;
    transition: all 0.3s ease;
  }
  .footer-col ul li a:hover{
    color: #fff;
    padding-left: 10px;
  }
  .footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background: rgba(255,255,255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.3s ease;
  }
  .footer-col .social-links a:hover{
    color: #192f55;
    background: #fff;
  }
  
  /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {   
      width: 100%;
      padding: 0;
      font-weight: 500px;
      position: relative;
    }
  }
  
  #navbar {
    position: fixed;
    font-family: Calibri, Verdana, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    font-size: 14px;
    color: #777b7d;
    
  }
  
  ul.navbar {
      list-style-type: none;
      margin: 0;
      padding: 0;
      width: 5.3%;
      background-color: #ee2e24;;
      position: fixed;
      height: 30%;
      overflow: auto;
  }
  
  ul.navbar li a {
      display: block;
      color: #fff;
      padding: 0px 15px;
      text-decoration: none;
  }
   
  ul.navbar li a.active {
      background-color: #4CAF50;
      color: white;
  }
  
  ul.navbar li a:hover:not(.active) {
      background-color: #192f55;
      color: white;
  }
  
  
  @media screen and (max-width: 900px) {
      ul.navbar {
          width: 100%;
          height: auto;
          position: relative;
      }
      ul.navbar li a {
          float: left;
          padding: 15px;
      }
      section {margin-left: 0;}
  }
  
  @media screen and (max-width: 400px) {
      ul.navbar li a {
          text-align: center;
          float: none;
      }
  }